body {
    background: rgb(239, 239, 239);
    margin: 0;
}
/*div {
    box-sizing: border-box;
}*/
.container {
    width: 600px;
    margin: auto;
    align-content: center;
    background-color: aliceblue;
    
}
.h1-s {
    display: flex;
    justify-content: center;
}
.sp-01 {
    float:right;
    padding: 5px;
    color: gray;
    margin-right: 10px;
    font-size: 15px;
}
h2 {
    margin-left: 10px;
}
p {
   margin: 10px; 
}
.Post {
   
}
.row {
    background: rgb(239, 239, 239); 
    
}